h1 {
  font-weight: 100;
  border: solid 1px;
  border-radius: 50px;
  text-align: center;
  color: #16242e;
  opacity: 0.5;
  margin-bottom: 20px;
}
form {
  text-align: center;
  margin-top: 20px;
}
h5 {
  font-size: 15px;
}

body {
  font-family: "Montserrat", sans-serif;
}
img {
  font-size: 60px;
  margin: 0 auto;
  padding-top: 0;
  display: block;
}
small {
  font-size: 10px;
  margin-top: 0;
}
.current-city {
  font-size: 65px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 40px;
  padding-bottom: 1px;
}
.current-temeprature {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}
.current-weather,
.weatherPrediction {
  color: #fff;
}
.card-all {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 2px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #365671 12%, #619bca 100%);
  max-width: 500px;
}
.weather-prediction {
  background-color: transparent;
}

.forecast-temp {
  font-size: 13px;
  font-weight: 600;
}
.temp-min {
  opacity: 0.7;
  margin-left: 2px;
}
.emoji-current-temp {
  font-size: 60px;
  text-align: center;
  padding-top: 0;
  margin-bottom: 0;
}
.weather-date,
.weather {
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
  font-weight: 100;
  color: #fff;
}
.weather {
  font-size: 20px;
  margin-bottom: 30px;
}
.search-bar {
  color: #000;
  font-weight: 200;
}
.search-button,
.search-bar {
  border-color: none;
  border: none;
  border-radius: 3px;
  font-size: 12px;
}

.search-button {
  background-color: #253b4a;
  transition: all 200ms ease-in-out;
  color: #fff;
  opacity: 0.8;
  font-weight: 100;
}
.search-button:hover {
  background-color: #67a1d0;
}
.source-code {
  font-size: 10px;
}
.coder-name {
  opacity: 0.7;
}
.forecast-icon {
  width: 40px;
  margin-bottom: 5px;
}
.celsius {
  position: relative;
  font-size: 20px;
  bottom: 20px;
  left: -10px;
}
.wrapper {
  max-width: 500px;
  margin: 20px auto;
}
